/* TEST: if this works, everything works */
body {
  background-color: #ffebee !important;
}

/* Header */
.masthead__inner-wrap {
  background-color: #2e7d32 !important;
}

.site-title {
  color: #ffffff !important;
}
