/* Icons */
.author__urls .fa,
.author__urls .fab,
.author__urls .fas,
.author__urls .ai {
    font-size: 1.8em;
    width: 1.6em;
    text-align: left;
}

/* Text */
.author__urls li a {
    font-size: 1.2em;
    line-height: 1.4em;
}
