/* Icons */
.author__urls .fa,
.author__urls .fab,
.author__urls .fas,
.author__urls .ai {
    font-size: 2.6em;
    width: 2.4em;
    text-align: center;
}

/* Text */
.author__urls li a {
    font-size: 1.15em;
    line-height: 1.4em;
}
