/* Make Academic/Research icons bigger */
.social a[class*="academicons-"] {
  font-size: 2.5rem !important;   /* adjust as needed */
  width: 3rem;
  height: 3rem;
  line-height: 3rem;              /* center icon vertically */
  margin-right: 0.5rem;
  display: inline-block;
  text-align: center;
}
